{% extends 'menu/base.html' %}
{% block content %}


{% if shopping_cart %}
<h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Cart <span class="badge badge-secondary badge-pill"></span>
            </h4>
<div class="row">
    {% for item in cart_items %}

          <div class="col-md-3">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ item.meal.name }}</h5>
            <p class="card-text">{{ item.meal.description }}</p>
            <div style="width: 200px; height: 200px;"> <!-- Adjust the width and height as needed -->
                <img src="{{ item.meal.image.url }}" class="img-fluid">
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <input name="quantity" id="quantity_{{ forloop.counter }}"  type="number" class="form-control" value="{{ item.quantity }}"
                               min="0">
                      <a class="btn btn-lg btn-primary mt-3" href="{% url 'shopping_cart:change_quantity' item.meal.id %}?quantity={{ item.quantity }}">Change quantity</a>

                    </div>
                    <div class="col-lg-12">Price for one portion: {{ item.meal.price }}</div>
                    <div class="col-lg-12">
                        <a href="#">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="card-footer">
            <p class="float-left">Total price : {{ item.total_price }}</p>
          <a href="{% url 'shopping_cart:remove_from_cart' item.meal.id %}" class="btn btn-danger btn-lg ml-5">Delete</a>


        </div>
    </div>
</div>
{% endfor %}
</div>
<a class="btn btn-success btn-lg float-right mb-5" href="{% url 'shopping_cart:create_order' %}">
    Create order
</a>


{% elif not cart_items or cart_items is None %}
<h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
                Your cart  is empty <span class="badge badge-secondary badge-pill">3</span>
            </h4>
{% endif %}
{% endblock %}

