<!DOCTYPE html>
<html>

<header>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>NaNa Italiano</h1>
                <p>Anastasiia Levchenko & Nataliia Mytsak</p>
            </div>
        </div>
    </div>
</header>


<head>
    {% block head%} {% endblock %}
</head>


<body>
    {%block content%} {%endblock%}
</body>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contact Us</h4>
                <p>Phone: +380 (65) 777 88 99</p>
                <p>Address: Central Square, Kyiv, Ukraine</p>
                <p>Business Hours:<br>
                    Mon-Sat: 10am - 10pm<br>
                    Sun: 11pm - 8pm</p>  
            </div>
            <div class="col-md-4">
                <h4>Follow Us</h4>
               <img src="instagram.png" alt="Instagram"></a> <p>@nana_italiano</p>
               <img src="tiktok.png" alt="TikTok"></a>  <p>@nana_italiano</p>
            </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2024 NaNa Italiano. All Rights Reserved.</p>
                <p>Privacy Policy | Terms of Service</p>
            </div>
        </div>
    </div>
</footer>

</html>