<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{% extends 'menu/base.html' %}
{% block content %}

<body>
    <div class="meal-container">
        <div class="meal-image">
            <img src="{{ meal.image.url }}" alt="{{ meal.name }}" style="width: 200px; height: auto; margin-right: 20px;">
        </div>
        <div class="meal-details">
            <h1>{{ meal.name }}</h1>
            <p><strong>Price:</strong> ${{ meal.price }}</p>
            <p><strong>Weight:</strong> {{ meal.weight }} grams</p>
            <p><strong>Vegan:</strong> {% if meal.is_vegan %}Yes{% else %}No{% endif %}</p>
            <p><strong>Spicy:</strong> {% if meal.is_spicy %}Yes{% else %}No{% endif %}</p>
            <p><strong>Ingredients:</strong></p>
            <ul>
                {% for meal_product in meal.mealproduct_set.all %}
                    <li>{{ meal_product.product.name }}</li>
                {% endfor %}
            </ul>
            <a href="#" class="add-to-basket-btn">In Box</a>
        </div>
    </div>
</body>

{% endblock %}
</html>